<span class="expense-text-show edit-expense pointer" id="<%= expense.id %>">
  <%= t('edit') %>
</span>
<span class="remove-expense pointer expense-text-show" id="<%= expense.id %>">
  <%= t('delete') %>
</span>

<button type="button" class="expense-value update-expense-btn btn btn-default" id="<%= expense.id %>">
  <%= t('save') %>
</button> 
<button type="button" class="cancel-update-expense expense-value btn btn-default" id="<%= expense.id %>">
  <%= t('cancel') %>
</button>