<tr>
  <td>
    <span id="expense-date" class="expense-text-show"><%= expense.date.strftime("%d.%m.%Y") %></span>
    <%= 
      text_field_tag "expense_date", 
      expense.date.strftime('%d.%m.%Y'),
      placeholder: t('date'),
      class: "pay-date expense-value form-control required" 
    %>
  </td>
  <td>
    <span id="expense-detail" class="expense-text-show"><%= expense.detail %></span>
    <%= 
      text_field_tag "expense_detail", 
      expense.detail, 
      placeholder: t("detail"),
      class: "expense-value form-control required" 
    %>
  </td>
  <td>
    <span id="expense-amount" class="expense-text-show"><%= expense.amount %></span>
    <%= 
      text_field_tag "expense_amount", 
      expense.amount,
      placeholder: t("amount"),
      class: "expense-value form-control required" 
    %>
  </td>
  <td class="edit-action">
    <%= render partial: "edit_actions", locals:  {expense: expense} %>
  </td>
</tr>