<div class="col-sm-12">
  <div>
    <div><h3><%= t('summaries') %></h3></div>
    <table class="table hidden-xs">
      <thead>
        <tr class="info">
          <th><%= t('year') %></th>
          <th><%= t('total_amount') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @summaries.each do |year, amount| %>
          <%= render partial: "year_list", locals: { year: year, amount: amount } %>
        <% end %>
        <tr class="warning">
          <td><b><%= t('summary') %></b></td>
          <td colspan="2"><b><%= @total %></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>