<div id="item-list" class="row">
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>Now 390 THB</p>
  </div>
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>Now 390 THB</p>
  </div>
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>&nbsp;</p>
  </div>
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>&nbsp;</p>
  </div>
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>Now 390 THB</p>
  </div>
  <div class="col-sm-3 item">
    <%= image_tag "pic1.jpg" %>
    <h4>Title</h4>
    <p>Price: 490 THB</p>
    <p>Now 390 THB</p>
  </div>
</div>