<table id="pay-list" class="table table-hover">
  <thead>
    <tr class="hidden-xs">
      <th><%= t('date') %></th>
      <th><%= t('detail') %></th>
      <th><%= t('price') %></th>
      <th><%= t('pay_by_credit') %></th>
      <th class="menu-actions" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr id="expense-form">
      <td>
        <input 
          class="pay-date form-control required" 
          type="text" 
          value="<%= Time.now.strftime('%d.%m.%Y') %>" 
          name="expense_date"
          placeholder="<%= t('date') %>" />
      </td>
      <td>
        <%= 
          text_field_tag "expense_detail", nil, 
          placeholder: t('detail'), 
          class: "form-control required expense-detail-autocomplete" 
        %>
      </td>
      <td>
        <%= 
          text_field_tag "expense_amount", nil, 
          placeholder: t('amount'),
          class: "form-control required" 
        %>
      </td>
      <td class="payment-check-box">
        <span class="visible-xs white-text"><%= t('pay_by_credit') %></span>
        <%= check_box_tag "expense_credit", nil, false %>
      </td>
      <td colspan="2">
        <%= button_tag t('add_new'), id: "insert-expense", class: "btn btn-primary" %>
      </td>
    </tr>
    <%= render partial: "expense_list", collection: @expenses, as: :expense %>
  </tbody>
</table>