<tr>
  <td>
    <span id="expense-date" class="expense-text-show"><%= expense.date.strftime("%d %B %Y") %></span>
    <%= text_field_tag "expense_date", expense.date.strftime('%d.%m.%Y'), class: "pay-date expense-value form-control required" %>
  </td>
  <td>
    <span id="expense-detail" class="expense-text-show"><%= expense.detail %></span>
    <%= text_field_tag "expense_detail", expense.detail, class: "expense-value form-control required" %>
  </td>
  <td>
    <span id="expense-amount" class="expense-text-show"><%= expense.amount %></span>
    <%= text_field_tag "expense_amount", expense.amount, class: "expense-value form-control required" %>
  </td>
  <td class="text-center payment-check-box">
    <span id="expense-credit" class="expense-text-show">
      <%= expense.credit ? "<span class='credit'>Credit</span>".html_safe : "Cash" %>
    </span>
    <%= check_box_tag "expense_credit", nil, expense.credit, class: "expense-value" %>

  </td>
  <td class="edit-action">
    <span class="expense-text-show edit-expense pointer" id="<%= expense.id %>">Edit</span>
    <button class="expense-value update-expense-btn btn btn-default" id="<%= expense.id %>">Save</button>  
  </td>
  <td class="cancel-or-remove-expense delete-action">
    <span class="remove-expense pointer expense-text-show" id="<%= expense.id %>"><i class="fa fa-times fa-lg"></i></span>
    <span class="cancel-update-expense expense-value pointer" id="<%= expense.id %>">Cancel</span>
  </td>
</tr>