<tr>
  <td><%= expense.date.strftime("%d %B") %></td>
  <td><%= expense.detail %></td>
  <td><%= expense.amount %></td>
  <td><%= expense.credit ? "Credit" : "Cash" %></td>
  <td class="text-center">Edit</td>
  <td>
    <span class="remove-expense pointer" id="<%= expense.id %>"><i class="fa fa-times fa-lg"></i></span>
  </td>
</tr>