<tr 
  money-for-today="<%= @current_date_total %>" 
  total-of-this-month="<%= current_user.total_of_this_month %>"
  average-of-this-month="<%= current_user.average_of_this_month %>">

  <td>
    <span id="expense-date" class="expense-text-show"><%= @expense.date.strftime("%d %B %Y") %></span>
    <%= 
      text_field_tag "expense_date", 
      @expense.date.strftime('%d.%m.%Y'),
      placeholder: t("date"), 
      class: "pay-date expense-value form-control required" %>
  </td>
  <td>
    <span id="expense-detail" class="expense-text-show"><%= @expense.detail %></span>
    <%= 
      text_field_tag "expense_detail", 
      @expense.detail,
      placeholder: t("detail"),
      class: "expense-value form-control required" 
    %>
  </td>
  <td>
    <span id="expense-amount" class="expense-text-show"><%= @expense.amount %></span>
    <%= 
      text_field_tag "expense_amount", 
      @expense.amount, 
      placeholder: t("amount"),
      class: "expense-value form-control required" 
    %>
  </td>
  <td class="payment-check-box">
    <span id="expense-credit" class="expense-text-show">
      <%= @expense.credit ? "<span class='credit'>#{t('credit')}</span>".html_safe : t("cash") %>
    </span>
    <%= check_box_tag "expense_credit", nil, @expense.credit, class: "expense-value" %>
  </td>
  <td>
    <span class="expense-text-show edit-expense pointer" id="<%= @expense.id %>">
      <%= t('edit') %>
    </span>
    <button class="expense-value update-expense-btn btn btn-default" id="<%= @expense.id %>">
      <%= t('save') %>
    </button>  
  </td>
  <td class="cancel-or-remove-expense">
    <span class="remove-expense pointer expense-text-show" id="<%= @expense.id %>">
      <i class="fa fa-times fa-lg"></i>
    </span>
    <span class="cancel-update-expense expense-value pointer" id="<%= @expense.id %>">
      <%= t('cancel') %>
    </span>
  </td>
</tr>