<div id="summaries-of-this-month">
  <div>
    <span><%= t('total_of_this_month') %></span>
    <span class="bold" id="total_of_month"><%= @total %></span>
  </div>
  <div>
    <span><%= t('average_of_this_month') %></span>
    <span class="bold" id="average_of_month"><%= @average %></span>
  </div>
  <div>
    <span><%= t('days_in_month') %></span>
    <span class="bold" id="average_of_month"><%= @days_in_month %></span>
  </div>
</div>
<div class="col-sm-12">
  <% if @paid_for_month.present? %>
    <h4><%= @paid_for_month.last.date.strftime("%B %Y") %></h4>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr class="bg-light-green hidden-xs">
        <th><%= t('date') %></th>
        <th><%= t('detail') %></th>
        <th><%= t('pay_with') %></th>
        <th><%= t('amount_thb') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "day_list", collection: @paid_for_month, as: :expense %>
    </tbody>
  </table>
</div>