<div class="col-sm-12">
  <% if @paid_for_month.present? %>
    <h4><%= @paid_for_month.last.date.strftime("%B %Y") %></h4>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr class="bg-light-green hidden-xs">
        <th><%= t('date') %></th>
        <th><%= t('detail') %></th>
        <th><%= t('pay_with') %></th>
        <th><%= t('amount_thb') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "day_list", collection: @paid_for_month, as: :expense %>
      <tr class="add-border-top">
        <td colspan="1"><b><%= t('total') %></b></td>
        <td colspan="3"><b><%= @total %> <%= t("thb") %></b></td>
      </tr>
      <tr>
        <td colspan="1"><b><%= t('average') %></b></td>
        <td colspan="3"><b><%= @average %> <%= t("thb") %></b></td>
      </tr>
    </tbody>
  </table>
</div>