<!DOCTYPE html>
<html>
<head>
  <title><%= t('my_expenses_title') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="สมุด บัญชี บันทึก รายจ่าย ค่าใช้จ่าย บันทึก และ สรุป ค่าใช้จ่าย">
  <meta name="keywords" content="รายจ่าย, บันทึกรายจ่าย, บัญชีรายจ่าย, ค่าใช้จ่าย, บันทึก และ สรุป ค่าใช้จ่าย" />
  <meta http-equiv="content-language" content="th" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    controller_name, media: "all" %> 
  <%= stylesheet_link_tag    "media", media: "all" %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div id="wrap">    
    <%= render "shared/top_navigation" %>
    <div class="container">
      <%= render "shared/switch_languages" %>
      <div class="row">
        <%= yield %>
      </div>      
    </div>
  </div>
  <div class="scrollToTop hidden-xs">Back to top</div>
  <div class="scrollToTop visible-xs scrollToTop-Mobile"><i class="fa fa-arrow-up fa-2x"></i></div>
  <%= render partial: "shared/footer" %>

</body>
</html>
