<!DOCTYPE html>
<html>
<head>
  <title>My Expenses</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    controller_name, media: "all" %> 
  <%= stylesheet_link_tag    "media", media: "all" %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div id="wrap">    
    <%= render "shared/top_navigation" %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>      
    </div>
  </div>
  <%= render partial: "shared/footer" %>

</body>
</html>
