<!DOCTYPE html>
<html>
<head>
  <title>Furniture</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    controller_name, media: "all" %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">    
    <%= render "shared/top_navigation" %>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-2">
          <%= render partial: "shared/menu_list" %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= yield %>
        </div>
      </div>      
    </div>
  </div>
  <%= render partial: "shared/footer" %>

</body>
</html>
